<% if (current_user != nil) && (current_user.role == 'instructor') %>
  <% unless @students.empty? %>
    <!-- <h3>&nbsp;</h3> -->
    <div class="panel clearfix">
      <h5>Students Registered</h5>
      <ul class="side-nav">
        <% @students.each do |student| %>
          <li><%= link_to student.name, student_path(student) %></li>
        <% end %>
      </ul>
    </div>

  <% else %>
    <div class="panel clearfix">
      <h5>No Students Have Registered</h5>
    </div>
  <% end %> 
<% end %>