<div class="row">
  
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camps", locals: { status: "Upcoming", camps: @upcoming_camps } %>
    <p>&nbsp;</p>
    <% if (current_user != nil) && (current_user.role == 'admin') %>
      <% unless @past_camps.empty? %>
        <%= render :partial => "camps", locals: { status: "Past", camps: @past_camps } %>
      <% end %>
    <% end %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <% if (current_user != nil) %>
      <%= render :partial => "inactive_camps" %>
    <% end %>
  </div>
</div>