<% unless @students_of_family.empty? %>
  <div class="panel clearfix">
    <h5>Students of Family</h5>
    <ul class="side-nav">
      <% @students_of_family.each do |student| %>
        <li><%= link_to student.proper_name, student_path(student) %></li>
      <% end %>
    </ul>
  </div>
<% end %>