<% if (current_user != nil) && (current_user.role == 'admin') %>
  <div class="row">
    <div class= "small-9 columns">
      <%= render :partial => "all_instructors" %>
    </div>
  </div>

<% else %>
  <div class= "row">
    <div class="small-7 columns">
      <!-- MAIN CONTENT GOES HERE -->
      <%= render :partial => "active_instructors" %>
    </div>

    <div class="small-1 columns">
      &nbsp;
    </div>

    <div class="small-4 columns">
      <!-- SIDEBAR CONTENT GOES HERE -->
      <% if (current_user != nil) %>
        <%= render partial: 'inactive_instructors' %>
      <% end %>
    </div>
  </div>
<% end %>