<div class= "row">
	<div class="small-7 columns" id="welcome">
		<h2>Welcome to A&amp;M Chess Camps!</h2>

		<h4 id= "quote"><em>"Chess is a game which reflects most honor on human wit."</em><br>~Francois Voltaire</h4>
		<br>
		<div id= "homepic">
			<img src="/assets/SeanHat.jpg" id= "homepic">
		</div>
	</div>

	<div class= "small-3 columns" id= "homeSidePartial">
		<%= render :partial => "upcoming_camps" %>	
	</div>
</div>