<div class="small-8 columns"> 
	<!-- information about a&m chess camp -->
	<h2 id= "title">About A&amp;M Chess Camps</h2>
	<br>
	<p>Are you looking for a summer chess camp that offers CHALLENGE, EXCITEMENT, THE CHANCE TO MAKE NEW FRIENDS, and FUN? Then A&amp;M Chess Camps is it! From beginners to grandmasters, A&amp;M Chess Camps' camps are sure to captivate, motivate and generate chess players. 
	<br><br>
	Alex and Mark Heimann are USCF Chess masters who started A&amp;M Chess Camps when they were looking for a way to earn a modest summer income that capitalizes on their chess skills. In the summer of 2014, they established a series of summer chess camps for children of various ages and skill levels.
	<br><br>
	Each camp in A&amp;M Chess Camps includes chess instruction through multiple curriculums, suitable for all ages K-12. Students come in for a three-hour period – either a morning session (9:00am to 12:00pm) or an afternoon session (1:00pm to 4:00pm) – every day during the course of one week. During that time, they receive instruction in a particular aspect of chess based on the curriculum of the camp, such as basic tactics, endgames and openings. Students then get an opportunity to play games against fellow campers. 
	<br><br>
	Emphasis is on the joy of the game but with a serious eye to the student's progress. New material will be presented each week of camp.
	<br><br>
	Each child will receive as much chess time as we can get while enjoying, mind clearing, fun, break opportunities. Overflowing with supervision, special attention to those with greater commitment levels to chess, as well as those who need an extra boost are just a few of the advantages of these exciting weeks of camp.
	<br><br>
	Sign up for a camp today!</p>
</div>

<div class= "small-4 columns">
	<div id= "coachingpic">
		<img src="/assets/Coaching2.jpg" alt= "aboutPic" width= "325">
	</div>
</div>