<div class="small-6 columns"> 
  <!-- contact information for a&m chess camp -->
  <h2 id= "title">Contact Us</h2><br>

  <h5><b>Address:</b></h5>
  <p>Carnegie Mellon University<br>
  5000 Forbes Avenue<br>
  Pittsburgh, Pennsylvania 15213<br></p> 

  <br>

<table cellpadding="3" class="table">
   <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <tr>
    <td>Alex Heimann</td>
    <td><%= mail_to "alex@razingrooks.org", "alex@razingrooks.org", :encode => "javascript" %></td>
    <td>412-268-2323</td>
  </tr>
  <tr>
    <td>Mark Heimann</td>
    <td><%= mail_to "mark@razingrooks.org", "mark@razingrooks.org", :encode => "javascript" %></td>
    <td>412-268-2323</td>
  </tr>
  <tr>
    <td>Webmaster</td>
    <td><%= mail_to "slanand@andrew.cmu.edu", "slanand@andrew.cmu.edu", :encode => "javascript" %></td>
    <td>516-448-4475</td>
  </tr>
</table>

</div>

<div class="small-6 columns" id="boysPic">
  <img src="/assets/BoysPlaying.jpg" id= "boysplaying">
</div>
