<div class="small-8 columns"> 
  <!-- privacy policy information -->
  <h2 id= "title">Privacy Policy</h2>
  <br>
  <p> A&amp;M Chess Camp reserves the right to deny admission to any camper for any program for any reason.
  At A&amp;M Chess Camp, we value your right to privacy.  In order to make your registration convenient and to ensure that we provide the highest quality camp, tournament or instruction experience, we routinely gather information about our campers and students. This policy describes the types of information we gather from our those who register with us and how that information is used. Please read this policy carefully before providing us with any personal information. If you have questions about this policy, please e-mail either Alex (alex@razingrooks.org) or Mark (mark@razingrooks.org).
  <br><br>
  <b>Non-Registered Users</b><br>
  If you do not register, we may collect limited information from you.  This information, such as your IP address, may be used  to help us locate problems with our server, for purposes of administration of our web site, or periodically to evaluate usage on our web site.  It would be extremely difficult for us to identify you through your IP address, and we make no attempt to do so. You may reach our sight through a link from another web site.  If you have reached our site in this way, then we may also track that information. This helps us to evaluate how we are utilizing our advertising budgets and ensure that we have the highest possible visibility on the Internet.  We may also use this information to analyze the interests of our users so that we may improve our service to you. 
  <br><br>
  <b>Registration</b><br>
  If you register with us for a chess camp or tournament, we will gather certain information about you, including name, address, internet address, telephone number, age, and other information.  We use this information to properly staff our chess camps, school chess programs and  to provide quality instructors, to ensure that we have adequate equipment such as chess boards, pieces, trophies and t-shirts on hand to improve your overall experience with A&amp;M Chess Camp.  
  <br><br>
  <b>Use of the information</b><br>
  As we indicated earlier, we use your information to tailor or services and communications to you and your interest and to gather information on students, campers, or tournament participants to ensure proper staffing, improve our service offerings, develop programs geared to our registered customers, and for other purposes. 
  <br>
  We may use the information you provide to send e-mail or other reminders of upcoming events,chess camps, chess tournaments or school chess programs in your area.  By contacting us at the numbers listed on the contact page, you can request to be removed, should you decide that you no longer wish to receive these e-mail updates.
  We may also use the information to inform you of changes to this privacy policy or other policy or administrative communication.
  <br>
  Occasionally, we may use your registration information to inform you of special offers or to provide you advertising that you may find interesting.  We would direct this advertising to you only if it is relevant to the information you have supplied. In this way, you are limited to advertising that is directed at your interest and our advertising is more effective.
  <br><br>
  <b>Information Disclosure</b><br>
  A&amp;M Chess Camp will not sell any personally identifiable information to any third party, other than to partners as previously discussed.  We may provide information about groups of registrants or aggregated information that does not contain personal information by individual, or we may provide information in such a way that identification of an individual from the data is not possible.  This information may be used for marketing, promotional or other purposes.  
  <br><br>
  <b>Use of Photographs</b><br>
   From time to time A&amp;M Chess Camp may take photographs of the students for purposes of providing individual and group photos to parents as part of the camp offering.  Additionally, A&amp;M Chess Camp may use photographs, videos, written extraction and voice recordings of camp students for the purpose of illustrations and publications including the website. By registering for a camp, you consent to the use of these images, recordings, etc. for the above purposes.
   <br><br>
  <b>Refund Policy</b><br>
  A full refund minus a $25 service fee is given if cancellation request is received 30 days before the camp. After this, refunds will not be given. If a child is sick and is unable to attend the camp, a doctor’s note is required for a refund minus the service fee to be given. Switching sessions or camps is permitted based on space available. There will be a $25 change fee accessed for any change to camp session
  <br><br>
  <b>Disciplinary Policy</b><br>
  We do not anticipate any disciplinary problems during the camp, but we still must set standards. A Camp Code of Conduct is provided to each camper to set the standard. If a disciplinary problem arises within a camp, the camper will receive one warning and a phone call home to their parents. If a second disciplinary problem arises, that camper could be expelled from the camp without any financial credit. If a camper’s behavior becomes so severe or endangers other campers, immediate expulsion from camp without phone calls, warnings, or financial credit may be necessary.
</div>

<div class="small-4 columns"> 
  <div id= "allenpic">
    <img src="/assets/AllenandDaniel.jpg" alt= "aboutPic" width= "325" id= "allenDaniel">
  </div>
  <div id= "kelseypic">
    <img src="/assets/Kelsey1.jpg" alt= "aboutPic" width= "325" id= "kelsey">
  </div>
  <div id= "bobbypic">
    <img src="/assets/Bobby1.jpg" alt= "aboutPic" width= "325" id= "bobby">
  </div>
  <div id= "alexpic">
    <img src="/assets/AlexPlaying4.jpg" alt= "aboutPic" width= "325" id= "bobby">
  </div>
</div>

