<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "locations", locals: { status: "Active", locations: @active_locations } %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <% if (current_user != nil) %>
      <%= render :partial => "inactive_locations" %>
    <% end %>
  </div>
</div>
