<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "locations", locals: { status: "Active", locations: @active_locations } %>
    <br />
    <% if can? :create, Location %>
      <%= link_to "Add a new location", new_location_path, class: "button tiny radius" %>
    <% end %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render :partial => "inactive_locations" %>
  </div>
</div>
