<div class="row">
  <div class="small-3 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "location_details" %>
  </div>

  <div class="small-3 columns">
      <%= render :partial => "camps_using" %>
  </div>

  <div class="small-6 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <h4>Map</h4>
    <%= render :partial => "map" %>
  </div>
</div>
